@import 'styles/_shared.scss';

.wrapper {
  padding: 15px 10%;

  @include media('<=desktop') {
    padding: 15px 5%;
  }

  @include media('<=phone') {
    background: $color-white;
    padding: 10px 15px;
  }
}

.title {
  margin-right: 15px;
  color: $color-grey-blue;
  font-family: $font-family-lato;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;

  @include media('<=phone') {
    font-size: $font-size-big;
  }

  &.isActive {
    color: $color-azure;
  }
}

.story {
  margin: 15px 0 0;
}

.noStories {
  margin: 30px 0;
  color: rgba($color-grey-blue, 0.7);
  font-family: $font-family-lato;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;

  @include media('<=phone') {
    font-size: $font-size-big;
  }
}
