$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-lato: 'Lato', sans-serif;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-big: 24px;
$font-size-large: 32px;
$font-size-huge: 44px;
$font-size-great: 50px;
$font-size-giant: 62px;
