$color-black: #000;
$color-white: #fff;
$color-pinkish-orange: #ff7043;
$color-azure: #039be5;
$color-grey-blue: #6b7c93;
$color-ocean-blue: #016cb7;
$color-malibu: #69a8dc;
$color-whie-lilac: #f7f9fc;
