@import 'styles/_shared.scss';

.wrapper {
  position: relative;
  margin: 15px 0;
  box-shadow: 0 4px 18px 0 rgba($color-black, 0.21);
  background: $color-white;
  padding: 25px;

  @include media('<=phone') {
    padding: 15px;
  }
}

.title {
  margin: 0;
  padding-right: 25px;
  color: $color-grey-blue;
  font-family: $font-family-lato;

  @include media('<=phone') {
    padding-right: 15px;
  }
}

.url {
  margin-left: 5px;
  color: $color-grey-blue;
}

.stat {
  margin-top: 15px;
  color: rgba($color-grey-blue, 0.7);
  font-family: $font-family-montserrat;
}

.bookmark {
  position: absolute;
  top: 30px;
  right: 25px;
  color: rgba($color-grey-blue, 0.7);

  &.isFavorite {
    color: rgba($color-azure, 0.7);
  }

  @include media('<=phone') {
    top: 23px;
    right: 10px;
  }
}
