@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600');

@import '~normalize.css/normalize';
@import '~react-placeholder/lib/reactPlaceholder.css';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
