@import 'styles/_shared.scss';

.wrapper {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 69px;
  background: $color-malibu;
  padding: 15px 10%;

  @include media('<=desktop') {
    padding: 15px 5%;
  }

  @include media('<=phone') {
    background: $color-white;
    padding: 10px 15px;
  }
}

.innerWrapper {
  display: flex;
  align-items: center;
}

.logo {
  @include media('<=phone') {
    width: 70px;
    height: 20px;
    fill: $color-azure;
  }
}

.headerItem {
  margin-left: 40px;

  @include media('<=tablet') {
    margin-left: 15px;
  }

  @include media('<=phone') {
    display: none;
  }
}

.icon {
  margin: 0 5px;
}

.menuIcon {
  display: none;

  @include media('<=phone') {
    display: inline;
  }
}
