@import 'styles/_shared.scss';

.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: $color-white;
  padding: 15px 10%;

  @include media('<=desktop') {
    padding: 15px 5%;
  }

  @include media('<=tablet') {
    flex-direction: column;
  }
}

.logoWrapper,
.linksWrapper,
.iconsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper {
  justify-content: space-between;

  @include media('<=phone') {
    flex-direction: column;
  }
}

.linksWrapper {
  @include media('<=phone') {
    flex-direction: column;
  }
}

.iconsWrapper {
  @include media('<=desktop') {
    flex-direction: column;
  }

  @include media('<=tablet') {
    flex-direction: row;
    margin-top: 10px;
  }
}

.copyright {
  width: 140px;
  color: $color-grey-blue;
  font-family: $font-family-lato;
  font-size: $font-size-small;
}

.logo {
  margin-right: 30px;

  @include media('<=phone') {
    margin: 0;
  }
}

.link {
  margin-left: 10px;
  white-space: nowrap;

  @include media('<=phone') {
    margin: 10px;
  }
}

.icon {
  margin-left: 35px;

  @include media('<=desktop') {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
