@import 'styles/_shared.scss';

.button {
  border-radius: 5px;
  color: $color-white;
  font-family: $font-family-lato;
  font-size: $font-size-normal;
}

.primary {
  border: 0;
  background: $color-pinkish-orange;
  padding: 15px 70px;
}

.secondary {
  border: 1px solid $color-white;
  background: transparent;
  padding: 10px 33px;
}

.big {
  font-size: $font-size-big;
}
