@import 'styles/_shared.scss';

.link {
  cursor: pointer;
  text-decoration: none;
  font-family: $font-family-lato;
  font-size: $font-size-normal;
}

.icon {
  margin: 0 5px;
  vertical-align: baseline;
  font-size: $font-size-small;
}

.white {
  color: $color-white;
}

.blue {
  color: $color-azure;
}
