@import 'styles/_shared.scss';

.wrapper {
  margin-top: -1px;
}

.sureYouWrapper {
  background-image: url('assets/images/blue-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include media('<=phone') {
    background-image: url('assets/images/blue-bg-mobile.png');
  }
}

.sureYouInnerWrapper {
  padding: 0 10%;

  @include media('<=desktop') {
    padding: 0 5%;
  }
}

.sureYou {
  margin: 0;
  padding-top: 80px;
  text-align: center;
  letter-spacing: 1px;
  color: $color-white;
  font-family: $font-family-montserrat;
  font-size: $font-size-huge;
  font-weight: $font-weight-light;

  @include media('<=desktop') {
    padding-top: 27px;
  }
}

.sureYouText {
  padding: 0 10%;
  text-align: center;
  line-height: 1.42;
  letter-spacing: 1px;
  color: $color-white;
  font-family: $font-family-lato;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;

  @include media('<=phone') {
    padding: 0;
    line-height: 1.38;
    letter-spacing: 0.1px;
    font-size: $font-size-normal;
    font-weight: $font-weight-regular;
  }
}

.getStartedWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

.example {
  margin-top: 45px;
  width: 60%;

  @include media('<=phone') {
    width: 90%;
    margin-top: 30px;
  }
}

.partnersWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  background: $color-whie-lilac;
  padding: 45px 10%;

  @include media('<=desktop') {
    padding: 45px 5%;
  }

  @include media('<=tablet') {
    flex-direction: column;
  }

  @include media('<=phone') {
    margin-top: 50px;
  }
}

.partnerWrapper {
  margin: 15px 35px;

  @include media('<=tablet') {
    margin: 15px 0;
    text-align: center;
  }
}

.partnerImage {
  width: 100%;

  @include media('<=tablet') {
    width: 70%;
    zoom: 0.7;
  }

  @include media('<=phone') {
    zoom: 0.5;
  }
}

.featuresWrapper {
  display: flex;
  padding: 100px 10% 0;

  @include media('<=desktop') {
    padding: 50px 5% 0;
  }

  @include media('<=phone') {
    flex-direction: column;
  }
}

.featuresIntro {
  box-sizing: border-box;
  margin: 0;
  padding: 0 60px 30px;
  text-align: left;
  letter-spacing: 1px;
  color: $color-azure;
  font-family: $font-family-montserrat;
  font-size: $font-size-giant;
  font-weight: $font-weight-light;

  @include media('<=tablet') {
    padding: 0 30px 15px;
  }

  @include media('<=phone') {
    padding: 0;
    text-align: center;
    font-size: $font-size-large;
  }
}

.featureWrapper {
  margin-bottom: 40px;
}

.featureTitle {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: $color-grey-blue;
  font-family: $font-family-montserrat;
  font-size: $font-size-big;
  font-weight: $font-weight-semibold;

  @include media('<=phone') {
    padding: 0;
    text-align: center;
    font-size: $font-size-medium;
  }
}

.featureDescription {
  text-align: left;
  line-height: 2;
  letter-spacing: 0.7px;
  color: $color-grey-blue;
  font-family: $font-family-lato;
  font-size: $font-size-normal;

  @include media('<=phone') {
    padding: 0;
    text-align: center;
  }
}

.coveragesWrapper {
  background-image: url('assets/images/blue-bg2.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include media('<=phone') {
    background-image: url('assets/images/blue-bg2-mobile.png');
  }
}

.coveragesInnerWrapper {
  margin: 0 10%;

  @include media('<=desktop') {
    margin: 0 5%;
  }
}

.coveragesTitle {
  margin: 0;
  padding-top: 280px;
  text-align: center;
  line-height: 1.23;
  letter-spacing: 1px;
  color: $color-white;
  font-family: $font-family-montserrat;
  font-size: $font-size-huge;
  font-weight: $font-weight-light;

  @include media('<=phone') {
    padding-top: 130px;
    line-height: 1.34;
    font-size: $font-size-large;
  }
}

.coveragesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coverage {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 50px);
  margin: 20px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgba($color-black, 0.21);
  background-color: $color-white;

  @include media('<=phone') {
    flex-basis: 100%;
    flex-direction: column;
  }
}

.coverageInfo {
  margin-right: 30px;

  @include media('<=tablet') {
    margin: 10px;
  }
}

.coverageImage {
  margin: 35px;

  @include media('<=tablet') {
    margin: 20px;
  }

  @include media('<=phone') {
    margin: 30px 84px 10px;
  }
}

.coverageTitle {
  text-align: left;
  letter-spacing: 0.7px;
  color: $color-ocean-blue;
  font-family: $font-family-montserrat;
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;

  @include media('<=phone') {
    text-align: center;
  }
}

.coverageDescription {
  text-align: left;
  line-height: 1.31;
  color: $color-grey-blue;
  font-family: $font-family-lato;
  font-size: $font-size-normal;

  @include media('<=phone') {
    text-align: center;
  }
}
